/* палитра */

/* цвет основного текста  #757575
   цвет заголовков  #212121
   цвет акцентов #2196F3
   цвет лого #000000
   цвет фона #FFFFFF
 */


body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

 /* logo */

.logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;    
        letter-spacing: 0.03em;
        text-decoration: none;
}

.logoweb {
    color: #2196F3; 
}
.logostudio {
    color: #000000;
}

/* heder */

/* nav */
.navigation-item {

        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: #212121;

}

.navigation-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
}



.navigation-item:hover,
.navigation-item:focus,
.navigation-contact:hover,
.navigation-contact:focus
{
color: #2196F3;
}

.navigation-list {
    list-style: none;
}

/* hero */

.hero {
    background-color: #2F303A;
}
.hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: #FFFFFF;
}

.hero-button {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;    
        letter-spacing: 0.06em;

        cursor: pointer;
}

.hero-button:hover, 
.hero-button:focus
 {
        color: #FFFFFF;
        background-color: #2196F3;
    }

/* section */

.section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    
        /* color: #212121; */
}

.section-list h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        /* color: #212121; */
}


.section-list p {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        /* color: #212121; */
}


.list-worker h3 {
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;    
        letter-spacing: 0.03em;
    
        /* color: #212121; */
}

.list-worker p {

        font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
    
        color: #757575;
}


/* footer */

.footer {
    background-color: #2F303A;
}
.logostudio-footer {
    color: #FFFFFF;
}

.addres {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-decoration: none;

        color: #FFFFFF;
}

.footer-contact {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;    
        letter-spacing: 0.03em;
        text-decoration: none;

        color: rgba(255, 255, 255, 0.6);
}

.section-list a:hover,
.section-list a:focus {
    color: #2196F3;}

/* Portfolio */

.item-button button {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;    
        text-align: center;
        letter-spacing: 0.03em;
        
}

  .item-button button:hover,
  .item-button button:focus
   {
        color: #FFFFFF;
        background-color: #2196F3;
    
}
